/* Setting up gradient background */
body {
  background: linear-gradient(75deg, #1f1f1f 50%, #484747 51%, #1f1f1f 58%);
  background-size: 400% 400%;
  animation: gradientAnimation 30s linear infinite;
  color: #d5d4d4;
}

/* Keyframes for gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Basic styles for navigation */
#navigation {
  background-color: transparent;
  text-align: left; /* Align the navigation links to the left */
  font-family: 'Montserrat', sans-serif; /* Specify Montserrat font */
}

#navigation ul {
  list-style: none;
  padding: 0;
  margin-left: 2%;
  margin-top: 30px;
}

#navigation ul li {
  display: inline-block;
  margin-right: 10px;
}

#navigation ul li a {
  text-decoration: none;
  color: rgb(188, 188, 188);
  font-size: 150%;
  padding: 5px 10px;
  font-family: 'Montserrat', sans-serif; /* Specify Montserrat font */
}
#navigation ul li a:hover{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 150%;
  padding: 5px 10px;
  font-family: 'Montserrat', sans-serif; /* Specify Montserrat font */
}



/* Styling active link */
#navigation ul li a.active {
  background-color: black;
  color: white;
}

/* Add padding to sections to offset navigation */
section {
  padding-top: 50px; /* Adjust as per your navigation height */
}

/* Styling for orb container */
#orb-container {
  height: 300px; /* Set container height */
  width: 80%; /* Adjust as needed */
  max-width: 1000px; /* Maximum width if desired */
  margin: 50px auto 50px; /* Add margin and center horizontally */
  position: relative; /* Relative position */
}

/* Styling for orbs */
.orb {
  width: 80px; /* Set orb width */
  height: 80px; /* Set orb height */
  border-radius: 50%; /* Make orb circular */
  background-color: rgb(50, 50, 65); /* Set orb background color */
  display: flex; /* Use flexbox for centering content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: absolute; /* Position orbs absolutely within container */
  overflow: hidden;
}

.orb img {
  max-width: 90%;
  max-height: 90%;
}
